/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size:1.1em;
    color: #333;
    margin: 0;
}

/* Heading styles */
h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

/* Section heading styles */
.section-head {
    font-weight: bold;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

/* Container styles */
.tfjs-example-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin: 0 auto;
}

#file-container {
  text-align: center;
  padding: 20px;
  border: 2px dashed #aaa;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
  display: none;
}

label {
  display: flex;
  margin: 0 auto;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

label:hover {
  background-color: #2980b9;
}

#file-label {
  margin-bottom: 20px;
}

#status {
    display: flex;
    margin: 0 auto;
}
/* Prediction container */
#predictions {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .tfjs-example-container {
        padding: 15px;
    }
}
